
.icon-skype:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-wheel:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */
.icon-map:before { content: '\e807'; } /* '' */
.icon-basket:before { content: '\e808'; } /* '' */
.icon-down:before { content: '\e809'; } /* '' */
.icon-up:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-mailru:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-heart-empty:before { content: '\e80e'; } /* '' */
.icon-chart:before { content: '\e80f'; } /* '' */
.icon-right-arrow:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-star-empty:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e817'; } /* '' */
.icon-right-angle:before { content: '\e818'; } /* '' */
.icon-vk:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-instagram:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-spin:before { content: '\e831'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-vk-1:before { content: '\f189'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-ok-1:before { content: '\f263'; } /* '' */
.icon-fb:before { content: '\f300'; } /* '' */
.icon-ok:before { content: '\f30d'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */